@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

html, body {
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    transition: 0.2s;
}

header nav.active {
    left: 0;
}

header .logo {
    width: 250px;
    cursor: pointer;
}

header .ikona {
    display: none;
    width: 42px;
    cursor: pointer;
}

header .hamburger {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

header .hamburger div {
    background: black;
    height: 0.2px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #555;
    margin: 0 30px;
    cursor: pointer;
    transition: 0.2s;
}

header nav ul li:nth-child(3) {
    color: rgb(255, 94, 0);
}
header nav ul li:nth-child(3):hover {
    color: rgb(255, 0, 0);
}
header nav ul li:nth-child(1):hover,
header nav ul li:nth-child(2):hover {
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 85px);
}

main h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.8em;
    color: #555;
}

main h1 span {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    padding: 15px 50px;
    border-radius: 5px;
    margin-top: 25px;
    background: linear-gradient(261.59deg, rgba(199, 94, 236) 0%, rgba(84, 192, 255) 100%);
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}

main button:hover {
    opacity: 1;
}

aside .block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 50vw;
    border-radius: 0px 0px 0px 50px;
}

aside .gradient {
    background: linear-gradient(166.54deg, #F2A3FF 0%, #DFF5FF 55.73%, #2594D5 100%);
    filter: blur(50px);
}

aside .glass {
    background: rgba(255, 255, 255, 0.8);
}

/*********************/

.onas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.onas .content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.onas .content .left, .onas .content .right {
    flex-basis: 50%;
    max-width: 600px;
}

.onas .content:nth-child(1) .left {
    padding: 0 30px;
    border-right: 1px dashed #555;
}
.onas .content:nth-child(2) .left {
    padding: 0 30px;
    border-left: 1px dashed #555;
}
.onas .content:nth-child(1) .right {
    padding: 0 30px;
    border-left: 1px dashed #555;
}
.onas .content:nth-child(2) .right {
    padding: 0 30px;
    border-right: 1px dashed #555;
}

.onas .content .left p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
}

.onas .content .left p span {
    font-weight: 400;
}

.onas .content .more {
    display: flex;
    flex-direction: column;
}

.onas .content .right .block {
    flex-grow: 1;
}

.onas .content .right .purple {
    align-self: flex-end;
}
.onas .content .right .blue {
    align-self: center;
}
.onas .content .right .red {
    align-self: flex-end;
}

.onas .content .right .glass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 110px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
}

.onas .content .right .glass::before {
    content: '';
    position: absolute;
    height: 130px;
    width: 110px;
    filter: blur(50px);
    z-index: -1;
}
.onas .content .right .purple .glass::before {
    background: #E1A7F9;
}
.onas .content .right .blue .glass::before {
    background: #86D0FB;
}
.onas .content .right .red .glass::before {
    background: #ED7899;
}

.onas .content .more img {
    width: 75px;
}
.onas .content .less img {
    width: 200px;
}

.onas .content .less {
    display: flex;
    justify-content: center;
    align-items: center;
}

.onas .content .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 4px;
}

.onas .content .line .purple {
    height: 10%;
    background: #E1A7F9;
}

.onas .content .line .blue {
    height: 10%;
    background: #86D0FB;
}

.onas .content .line .red {
    height: 10%;
    background: #ED7899;
}

/*********************/

.team {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.team .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 90%;
    min-height: 90vh;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBF5FF 100%);
    border-radius: 20px;
}

.team .content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #555;
    padding: 60px;
    text-align: center;
}

.team .content p span {
    color: #79CFFF;
}

.team .content .dots {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.team .content .dots .circle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.team .content .dots .purple {
    background: #E1A7F9;
}

.team .content .dots .blue {
    background: #86D0FB;
}

.team .content .dots .red {
    background: #ED7899;
}

/*********************/

.partnerzy {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.partnerzy .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.partnerzy .content img {
    width: 400px;
}

.partnerzy footer p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #555;
    text-align: center;
}

/*********************/
@media (max-width: 900px) {
    header .logo {
        display: none;
    }

    header .ikona {
        display: block;
    }

    header .hamburger {
        display: flex;
    }

    header nav {
        position: absolute;
        top: 85px;
        left: 100%;
        background: white;
        width: 100vw;
        height: calc(100vh - 85px);
        transition: 0.5s;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    header nav ul li {
        padding: 15px 0;
    }

    main img {
        width: 350px;
    }

    main h1 {
        font-size: 1.6em;
    }

    main button {
        font-size: 16px;
        padding: 10px 40px; 
    }

    aside {
        display: none;
    }

    .onas .content {
        flex-direction: column;
        align-items: center;
    }

    .onas .content .left p {
        font-size: 45px;
    }

    .onas .content .line {
        display: none;
    }

    .onas .content:nth-child(1) .left {
        padding: 0;
        border: none;
    }
    .onas .content:nth-child(2) .left {
        padding: 0;
        border: none;
    }
    .onas .content:nth-child(1) .right {
        padding: 0;
        border: none;
    }
    .onas .content:nth-child(2) .right {
        padding: 0;
        border: none;
    }
    .onas .content .more {
        margin-top: 50px;
        flex-direction: row;
    }
    .onas .content .more .block {
        margin: 0 10px;
    }
    .onas .content .less {
        order: 1;
    }

    .team .content p {
        font-size: 30px;
        padding: 0 0 50px 0;
    }

    .team .content .dots .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}
